{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Formulario de Cliente</title>
        <link rel="stylesheet" href="{% static 'css/stilo2.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Enlace al archivo CSS -->
    </head>
    <body class="body">
        <img src="{% static 'img/pantallauser.jpg' %}" id="background-imag">
        <header>
            <header>
                <nav style="width: 300px;">
                    {% if Alerta %}
                        <div class="alert alert-danger alert-custom" sty role="alert" style="animation: fadeOut 10s forwards; width: 100%;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg> 
                            "{{Alerta}}" 
                        </div> 
                    {% endif %} 
                    <style>
                        @keyframes fadeOut {
                            0% { opacity: 1; } 
                            100% { opacity: 0; display: none; } 
                        } 
                        .alert-custom { 
                            width:5%; 
                        } 
                    </style>
                </nav>
            </header>
                 
        </header>
        <form action="../../../../../../../{% if dependiente %}dependiente{% else %}admin{% endif %}/perfil/" method="POST">
            {% csrf_token %}
            <h1>Perfil del usuario </h1>
            <label for="username">Nombre de Usuario: {{request.user}}</label>
            <br>
            <label for="username"></label>
            <br>
            <label for="email">Correo: {{request.user.email}}</label>
            <br>
            <label for="username"></label>
            <br>
            <label for="password0">Contraseña Actual:</label>
            <input type="password" id="password0" name="password0" required>
            <label for="password1">Contraseña:</label>
            <input type="password" id="password1" name="password1" required>
            <label for="password2">Repetir Contraseña:</label>
            <input type="password" id="password2" name="password2" required>
            <button type="submit" class="btn btn-primary" style="width: 100px;margin:5px">Modificar</button>
            <a type="button" href="../../../../admin/" class="btn btn-primary" style="width: 100px;">Cancelar</a>
        </form>
        <script>
            
        </script>
    </body>
</html>
